<!DOCTYPE html>

<html>

<head>
    <link rel="icon" href="/img/weather.png">
    <title>About</title>
    <link  rel="stylesheet" href="/css/style.css">
</head>
<body>
    <div class="main_content">

   {{>header}}
   <p>Use this site to get your weather</p>
    </div>
  
    <img class="portrait" src="/img/robot.png">
    {{>footer}}
</body>

</html>