<!DOCTYPE html>

<html>

<head>
    <link rel="icon" href="/img/weather.png">
        <title>Help</title>
    <link  rel="stylesheet" href="/css/style.css">
</head>
<body>
    {{>header}}
   <marquee direction="right"  bgcolor="white"><h2>{{message}}</h2></marquee> 
   {{>footer}}
</body>

</html>