    h1 {
        color: darkgrey;
        font-size: 64px;
        margin-bottom: 16px;
    }
    
    body {
        font-family: arial;
        max-width: 650px;
        margin: 0 auto;
        padding: 0 16px;
        display: flex;
        flex-direction: column;
        min-height: 100vh;
    }
    
    header {
        margin-top: 16px;
        margin-bottom: 48px;
    }
    
    a {
        margin-right: 18px;
        text-decoration: none;
        color: #888888;
        font-size: 23px;
    }
    
    footer {
        padding: 16px 0;
        border-top: 1px solid #eb0808;
        margin-top: 16px;
        padding: 16px, 0
    }
    
    .portrait {
        width: 250px;
        height: 250px
    }
    
    .main_content {
        flex-grow: 1;
    }